:root{
    --videoWidth: 16px;
    --videoHeight: 9px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.gesture {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 40px;

    stroke: white;
    stroke-width: 20px;
}

#thumbsUp{
    fill: green;
    display: none;
}
#thumbsDown {
    fill: red;
    display: none;
}
#openPalm{
    fill: yellow;
    display: none;
}


#localVideoContainer{
    position: relative;
}
#join-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

#roomInput, #joinButton {
    padding: 10px;
    margin: 10px;
    font-size: 1.2em;
}

#video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}


#localVideo{
    width: calc(var(--videoWidth)* 40);
    height: calc(var(--videoHeight)* 40);
    background-color: black;

}

#remoteVideos{
    video{
        width: calc(var(--videoWidth)* 10);
        height: calc(var(--videoHeight)* 10);
    }
}
#controls {
    margin-top: 10px;
}

#controls button {
    padding: 10px;
    margin: 5px;
    font-size: 1em;
}
#shareScreenButton {
    padding: 10px;
    margin: 5px;
    font-size: 1em;
}
